body > footer {
    background-color: $color-secondary;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
    @include container-width();

    .brand { width: 120px; }

    @include media-mobile() {
        text-align: center;
        grid-template-columns: 1fr;
        grid-row-gap: $spacing-medium;

        & > * {
            margin-left: auto;
            margin-right: auto;
        }
    }

    a:hover {
        color: $color-accent;
        transition: $ui-transitions;
    }

    nav,
    address {
        max-width: 250px;

        header { 
            color: $color-accent;
            font-weight: $font-weight-bold;
            font-size: 1.1rem;
            margin-bottom: $spacing-xsmall;
        }

        p {
            margin-bottom: 0.25rem;
        }
    }

    .socials {
        @include media-mobile() {
            margin-top: $spacing-small;
        }

        i { 
            font-size: 22px;
            margin-right: $spacing-xsmall;
        }

        a:last-of-type i {
            margin-right: 0;
        }
    }
}

.legal {
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    @include default-paddingX();
    @include container-width();
    line-height: 3;

    @include media-mobile() {
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        line-height: 1.25;
        padding-top: $spacing-small;
        padding-bottom: $spacing-small;

        p { margin-bottom: $spacing-xsmall; }
    }

    a { color: $color-white; margin-block: $spacing-xsmall;}

    a:hover { color: $color-accent; }
}