body > header {
    position: absolute;
    background-color: $color-secondary;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: $zindex-menu;
    align-items: center;
    flex-wrap: wrap;
    @include container-width();
    padding-block: $spacing-small;

    a { 
        font-weight: $font-weight-bold;
        color: $color-white;
    }

    .lang { text-transform: uppercase; }

    .brand {
        width: 120px;

        @include media-tablet() {
			position: relative;
			z-index: $zindex-max;
		}
    }

    & > nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 650px;
        position: relative;

        a.active-link {
            position: relative;

            &::after {
                content: "";
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                border-radius: 1px;
                background-color: $color-accent;
            }
        }

		@include media-tablet() {
			background: $color-secondary;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			padding: $spacing-insane $spacing-medium 0;
			transform: translateX(100%);
			transition: transform 250ms ease-in-out;
			z-index: $zindex-menu;

			&.active {
				transform: translateX(0);

                &::after {
                    content: none;
                }
			}

            a {
				font-size: 1.3rem;
				margin-bottom: $spacing-small * 1.5;
			}
		}

        @include media-tiny() {
            padding-top: $spacing-huge * 1.25;

            a { font-size: 1rem; }
         }
    }

    .dropdown {
        & > a { 
            display: flex;
            align-items: center;

            i { margin-left: 0.25rem; }

            .active { transform: rotate(-90deg); }
        }

        & > .dropdown-content { 
            display: none;
            position: absolute;
            background-color: $color-secondary;
            padding: $spacing-small $spacing-medium;
            border-radius: $border-radius-common;
            margin-top: $spacing-xsmall;

            @include media-tablet() {
                position: relative;
                background-color: transparent;
                margin-top: 0;
                padding-top: 0;
            }
        }

        & > .dropdown-content a { 
            display: block;
            margin-bottom: $spacing-xsmall;
        }

        & > .active {
            display: block;
        }
    }

    .burger-menu {
        display: none;
        z-index: $zindex-max;
        width: 30px;
        height: 18px;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;
    
        @include media-tablet() {
            display: flex;
        }
    
        span {
            width: 100%;
            background-color: $color-white;
            height: 2px;
            transition: transform 0.25s ease-in-out;
        }
    
        &.active {
            span:nth-child(1) {
                transform: translateY(7px)rotate(45deg);
            }
    
            span:nth-child(2) {
                transform: scale(0);
            }
    
            span:nth-child(3) {
                transform: translateY(-9px)rotate(-45deg);
            }
        }
    }
}

body > .transparent_header {
    background-color: transparent;
}