<address>
    <h2>
        {{ i18n "contact_info" }}
    </h2>
    <p>
        <a href="{{ .Site.Params.gmap_link }}" target="_blank">
            {{ .Site.Params.address }}
        </a>
    </p>
    <p>
        <a href="mailto:{{ .Site.Params.email }}">
            {{ .Site.Params.email }}
        </a>
    </p>
    <p>
        <a href="tel:{{ .Site.Params.phone_link }}">
            {{ .Site.Params.phone }}
        </a>
    </p>
    <p class='socials'>
        {{ range .Site.Params.social_media }}
            <a href="{{ .Url }}" target="_blank">
                <i class='fab fa-{{ .Icon }}'></i>
            </a>
        {{ end }}
    </p>
</address>

<p>
    {{ if .Site.Params_social.facebook_link }}
        <a href="{{ .Site.Params_social.facebook_link }}" target="_blank">
            <i class='fab fa-facebook-square'></i>
        </a>
    {{ end }}
</p>